@import "../global/colors.scss";

.app-main{
  width: 100vw;
  height: 100vh;

  .show-movie{
    width: 60%;
    margin: auto;

    .preview{
      display: flex;
      justify-content: space-between;

      .api-presentation {
        width: 50%;

        .subtitle{
          font-size: 18px;
        };

        .presentation {
          text-align: justify;
          padding-right: 30px; 
        };
      };

      .poster{
        padding: 10px;
        border: 1px grey solid;
        display: flex;
        width: 50%;

        img{
          height: 300px;
        };

        .poster-description{
          padding: 0 10px;
        }


        .title{
          font-size: 18px;
        };
      };
    };
  };

  .form{
    width: 50%;
    margin: auto;
    
  };

  .movie{
    width: 80%;
    margin: auto;
    margin-top: 80px;

    .description{
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis; 
    };

    .button{
      padding: 9px 40px;
    };
  };

};